<div class="row my-4">
  <div class="col-12 p-3">
    <div class="container">
      <div id="about">
        <h2>About Me</h2>
        <div class="break-line"></div>
        <div class="">
          <p>Hi, I’m Pedro👋 — a Full-Stack Developer based in Tokyo</p>

          <p>Born in Brazil and raised in Japan, I bring a multicultural perspective and a passion for building connections. During Le Wagon’s intensive web development bootcamp, I built full-stack apps with Ruby on Rails, JavaScript, SQL, and I continue to build apps and websites to sharpen my skills and explore new ideas.</p>

          <p>Outside of coding, I enjoy working out, traveling, and taking on new challenges. I’m eager to keep growing as a developer and contribute to meaningful projects.</p>
        </div>
      </div>
    </div>
  </div>
</div>
