<div class="banner d-flex flex-column flex-sm-row justify-content-center align-items-center h-100 mt-3">
  <%# Image %>
  <div class="mb-3 mb-sm-3 mt-3 me-sm-4">
    <%= image_tag 'pfp.jpg',
                  alt: "profile photo",
                  class: 'avatar-bordered' %>
  </div>

  <%# Text %>
  <div class="mt-3 ms-sm-2 text-center text-sm-start">
    <h1 class="mb-2 mt-3 mt-sm-2 big-text banner-name">Pedro Sassaki</h1>
    <h4 class="description banner-description">• Full-Stack Developer</h4>
    <!-- Social Links Section -->
    <%= partial 'partials/social' %>
  </div>
</div>

