<div class="banner d-flex flex-column flex-sm-row justify-content-center align-items-center h-100 mt-5">
  <%# Image %>
  <div class="mb-3 mb-sm-3 mt-3">
    <%= image_tag 'pfp.jpg',
                  alt: "profile photo",
                  class: 'avatar-bordered' %>
  </div>

  <%# Text %>
  <div class="ms-sm-4 text-center text-sm-start">
    <h1 class="mb-2 mt-3 mt-sm-2 big-text">Pedro Sassaki</h1>
    <h4 class="mb-2 description">• Full-Stack Developer</h4>
    <p class="description-sm">
      Ruby on Rails
      <i class="fa-solid fa-gem ruby"></i>
      • JavaScript
      <span class="sm-box z-0">
        <i class="bi bi-javascript js z-1"></i>
      </span>
    </p>
  </div>
</div>

