<div class="card-product">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora iste, dicta, itaque molestiae cum nam vero repellat quas quo soluta qui amet. Praesentium corporis sequi reiciendis quod! Totam, ab? Molestiae.</p>
</div>