<div class="d-flex justify-content-between align-items-center my-5">
  <div class="col-12 p-3">
    <h2>Skills</h2>
    <div class="break-line"></div>

      <h4 class="skill-title">Languages:</h4>
      <div class="d-flex justify-content-start flex-wrap gap-4 mt-2 mb-4">
        <div class="skill-box text-center">
          <i class="devicon-ruby-plain colored skill-icon d-block mx-auto mt-4"></i><p class="skill-text mt-2">Ruby</p>
        </div>

        <div class="skill-box text-center">
          <i class="devicon-javascript-plain colored skill-icon d-block mx-auto mt-4"></i><p class="skill-text mt-2">JavaScript</p>
        </div>

        <div class="skill-box text-center">
          <i class="devicon-html5-plain colored skill-icon d-block mx-auto mt-4"></i><p class="skill-text mt-2">HTML</p>
        </div>

        <div class="skill-box text-center">
          <i class="devicon-css3-plain colored skill-icon d-block mx-auto mt-4"></i><p class="skill-text mt-2">CSS/SCSS</p>
        </div>
      </div>

      <h4 class="skill-title">Frameworks:</h4>
      <div class="d-flex justify-content-start flex-wrap gap-4 mt-2 mb-4">
        <div class="skill-box text-center">
          <i class="devicon-rails-plain colored skill-icon d-block mx-auto mt-4"></i><p class="skill-text mt-2">Ruby on Rails</p>
        </div>

        <div class="skill-box text-center">
          <i class="devicon-bootstrap-plain colored skill-icon d-block mx-auto mt-4"></i><p class="skill-text mt-2">Bootstrap</p>
        </div>
      </div>

      <h4 class="skill-title">Database & Query Languages:</h4>
      <div class="d-flex justify-content-start flex-wrap gap-4 mt-2 mb-4">
        <div class="skill-box text-center">
          <i class="devicon-azuresqldatabase-plain colored skill-icon d-block mx-auto mt-4"></i><p class="skill-text mt-2">SQL</p>
        </div>

        <div class="skill-box text-center">
          <i class="devicon-postgresql-plain colored skill-icon d-block mx-auto mt-4"></i><p class="skill-text mt-2">PostgreSQL</p>
        </div>
      </div>

      <h4 class="skill-title">Tools:</h4>
      <div class="d-flex justify-content-start flex-wrap gap-4 mt-2 mb-4">
        <div class="skill-box text-center">
          <i class="devicon-heroku-plain colored skill-icon d-block mx-auto mt-4"></i><p class="skill-text mt-2">Heroku</p>
        </div>

        <div class="skill-box text-center">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/netlify/netlify-original.svg" class="skill-icon d-block mx-auto mt-4"><p class="skill-text mt-2">Netlify</p>
        </div>

        <div class="skill-box text-center">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/figma/figma-original.svg" class="skill-icon d-block mx-auto mt-4"><p class="skill-text mt-2">Figma</p>
        </div>
      </div>
    </div>
  </div>
</div>
