<div class="d-flex justify-content-between">
  <div class="">
    <p class="description-sm">Ruby on Rails</p><i class="fa-solid fa-gem ruby"></i>
  </div>
  <div class="">
    <p class="description-sm">JavaScript</p><i class="bi bi-javascript js"></i>
  </div>
  <div class="">
    <p class="description-sm">HTML</p><i class="fa-brands fa-html5 html"></i>
  </div>
  <div class="">
    <p class="description-sm">CSS/SCSS</p><i class="fa-brands fa-css3-alt css"></i>
  </div>
</div>