.break-line {
  background-color: #2f5fa7;
  height: 5px;
  width: 100%;
  margin-bottom: 1.5rem;
  border-radius: 9999px;
}

.light-blue-text {
  color: #6ea1ea;
}

.small-header {
  font-size: 20px;
}
