.break-line {
  background-color: #2f5fa7;
  height: 3px;
  width: 100%;
  margin-bottom: 1.5rem;
  border-radius: 9999px;
}

.break-line-small {
  background-color: #cccccc;
  height: 2px;
  width: 90%;
  margin: auto;
  border-radius: 9999px;
}

.spacing {
  height: 3rem;
  width: 100%;
}

.small-spacing {
  height: 1.5rem;
  width: 100%;
}

.light-blue-text {
  color: #5585c7;
}

.small-header {
  font-size: 20px;
}
