.button-social {
  padding: 0 16px;
  position: relative;
  font-size: 20px;

  &:hover {
    opacity: 0.7;
  }
}

.email-btn {
  color: #ffffff;
}

.github-btn {
  color: #000000;
}

.linkedin-btn {
  color: #086bca;
}

.button-social-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
