.button-social {
  padding: 0 16px;
  position: relative;
  font-size: 20px;
  color: #eaeaea;

  &:hover {
    opacity: 0.7;
  }
}

.button-social-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.button-project {
  padding: 0 16px;
  position: relative;
  font-size: 20px;
  color: #000000;

  &:hover {
    opacity: 0.5;
  }
}
