.skill-box {
  background-color: #ffffff;
  height: 200px;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 2rem;
}

.skill-text {
  font-size: 16px;
}
