.skill-box {
  background-color: #ffffff;
  height: 120px;
  width: 150px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 2rem;
}

.skill-text {
  font-size: 16px;
}

.skill-title {
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}
