// Specific CSS for your home-page
body {
  background-image: url("/images/bg-image.png");
  background-attachment: fixed;
}

@media (max-width: 768px) {
  body {
    background-attachment: scroll;
  }
}

h2 {
  font-weight: 600;
}

.section-card {
  background-color: $bg-color;
  height: auto;
  width: auto;
  // box-shadow: 0 2px 4px rgba(226, 226, 226, 0.2), 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 2rem;
  padding: 10px;
  border: solid;
  border-color: #d4d4d4;
}
