// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700|Work+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

// Define fonts for body and headers
// $body-font: "Work Sans", "Helvetica", "sans-serif";
// $headers-font: "Quicksand", "Helvetica", "sans-serif";
$body-font: "Comfortaa", "Helvetica", "sans-serif";
$headers-font: "Comfortaa", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
body {
  font-family: $body-font;
  font-weight: 300;
  font-style: normal;
  background-image: url("/images/bg-image.png");
  background-attachment: fixed;
  object-fit: cover;
}

h2 {
  font-weight: 600;
}
