<div class="container justify-content-center">
  <!-- Banner Section -->
  <%= partial 'partials/banner' %>
  <!-- About Section -->
  <%= partial 'partials/about' %>
  <!--Skill Section-->
  <%= partial 'partials/skill' %>
  <!-- Projects Section -->
  <%= partial 'partials/projects' %>
</div>
